<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5">

<display-name>Web Application Created With eXo IDE</display-name>
  <servlet>
    <servlet-name>vpServlet</servlet-name>
    <servlet-class>com.trungsi.vpclient.VPServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>vpServlet</servlet-name>
    <url-pattern>/vp</url-pattern>
  </servlet-mapping>
</web-app>
